body {
	background-color: lightblue;
	color: lightblue;
}

.quote-box {
	margin-top: 75px;
	max-width: 600px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.quote-box-color {
	background-color: white;
}